@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sa-gold: #BB935B;
  --sa-dark-navy: #0F1729;
  --sa-white: #FFFFFF;
  --sa-black: #000000;
  --sa-gray: #999999;
  --sa-bg-light: #F8FAFC;
  --sa-text: #5C6B7F;
}
